{
  "openapi": "3.0.0",
  "x-explorer-enabled": false,
  "info": {
    "title": "ScaleGrid Rest API Documentation",
    "description": "This is the documentation for ScaleGrid's REST APIs. Our detailed guides for every feature can be found [here](https://help.scalegrid.io/docs)\n\n\nNew to ScaleGrid? [Try ScaleGrid for free](https://console.scalegrid.io/users/register)! \n\n\n[Learn more about our offerings](https://scalegrid.io)\n\n",
    "contact": {
      "name": "ScaleGrid Support",
      "url": "https://help.scalegrid.io",
      "email": "support@scalegrid.io"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://console.scalegrid.io"
    }
  ],
  "tags": [
    {
      "name": "General",
      "description": "This introductory section covers general APIs, required for most ScaleGrid workflows. We will cover authentication and checking the status of an asynchronous operation (aka job). \n\n\nNotes: \n\n\n* Before running any APIs, you have to login to console.scalegrid.io by making the [login call](#operation/login)\n\n* You can logout from the console by making the [logout call](#operation/logout)\n\n* The API set always returns a JSON document as output, with an object named \"error\". Always check if error.code equals 'Success' to decide if the API call succeeded.      "
    },
    {
      "name": "Cloud Profiles",
      "description": "This section covers APIs to work with cloud profiles. [Learn more about cloud profiles](https://help.scalegrid.io/docs/mongodb-new-cluster-bring-your-own-cloud)\n\n\nCreating a cloud profile would be the first step before deploying any cluster. We will cover creating, updating and deleting cloud profiles. After creating a cloud profile, refer to the create-cluster method for your chosen database type - [MongoDB®](#tag/ScaleGrid-For-MongoDB(r)), [Redis™](#tag/ScaleGrid-For-Redistm), [MySQL®](#tag/ScaleGrid-For-MySQL(r)) or  [PostgreSQL®](#tag/ScaleGrid-For-PostgreSQL(r))"
    },
    {
      "name": "Clusters",
      "description": "This section covers general cluster operations - e.g. patching the operating system. These APIs apply to clusters of all database types. \n\n\nSome of the most useful operations include\n\n\n* Pause and Resume Clusters - if you have a test or analytics cluster that you do not require all the while, but also do not want to populate for each test, you can do pause/resume and save on your cloud hosting costs.\n \n* Create a follower cluster - if you have a data analytics workflow running regularly, but do not want it to affect production, follower clusters can be very useful. [Learn more](https://scalegrid.io/blog/follower-clusters-3-major-use-cases-for-syncing-sql-and-nosql-deployments/)\n\n* Monitor cluster health - forewarned is forearmed! Setup alerts on various metrics (e.g. percentage CPU and memory usage) to stay on top of your cluster. [Learn more](https://help.scalegrid.io/docs/mongodb-alerts-and-rules) \n\n\nTo create a cluster first, refer to the create-cluster method for your chosen database type - [MongoDB®](#tag/ScaleGrid-For-MongoDB(r)), [Redis™](#tag/ScaleGrid-For-Redistm), [MySQL®](#tag/ScaleGrid-For-MySQL(r)) or  [PostgreSQL®](#tag/ScaleGrid-For-PostgreSQL(r))"
    },
    {
      "name": "Projects & Maintenance Windows",
      "description": "This section covers Project specific and Maintenance-Window specific API calls. These APIs apply to clusters of all database types. \n\n[Learn more about Projects & Maintenance Windows](https://help.scalegrid.io/docs/projects-maintenance-windows)"
    },
    {
      "name": "ScaleGrid For MongoDB®",
      "description": "This section covers MongoDB-specific API calls. The [Clusters](#tag/Clusters) section covers database agnostic calls that can be used on MongoDB clusters. [Create your own test environment to get started](https://console.scalegrid.io/users/register)\n\n\nBefore creating a cluster, you must find out the ID of the cloud profile(s) that'll be used to host your cluster. [Learn more about the different hosting strategies](https://scalegrid.io/blog/bring-your-own-cloud-byoc-vs-dedicated-hosting-at-scalegrid/)\n\n\n* If you are using the [BYOC model](https://help.scalegrid.io/docs/getting-started-bring-your-own-cloud-plans), make sure to create a cloud profile on the cloud platform of your choice by calling the specific API in the [clouds section](#tag/cloudprofiles). Retrieve the id for this cloud profile from the [list clouds](#operation/listCloudProfiles) call. \n\n* If you are using the Dedicated Hosting Model, use the [list clouds](#operation/listCloudProfiles) operation to find a cloud profile in your preferred region\n\nUsing this cloud profile, you can now create a cluster of your choice, and automate a few workflows.\n\n A popular workflow among our customers is cloning your production cluster for development/QA. You can [create a standalone clone](#operation/peekAtBackup) from an [existing backup](#operation/listMongoBackups). Use [this](#operation/getMongoCredentials) API to obtain credentials of your newly created cluster, and you are set to go! Once the test is completed, you can [destroy the deployment](#operation/deleteMongoCluster)."
    },
    {
      "name": "ScaleGrid For Redis™",
      "description": "This section covers Redis™-specific API calls. The [Clusters](#tag/Clusters) section covers database agnostic calls that can be used on Redis™ clusters. [Create your own test environment to get started](https://console.scalegrid.io/users/register)\n\n\nBefore creating a cluster, you must find out the ID of the cloud profile(s) that'll be used to host your cluster. [Learn more about the different hosting strategies](https://scalegrid.io/blog/bring-your-own-cloud-byoc-vs-dedicated-hosting-at-scalegrid/)\n\n\n* If you are using the [BYOC model](https://help.scalegrid.io/docs/getting-started-bring-your-own-cloud-plans), make sure to create a cloud profile on the cloud platform of your choice by calling the specific API in the [clouds section](#tag/cloudprofiles). Retrieve the id for this cloud profile from the [list clouds](#operation/listCloudProfiles) call. \n\n* If you are using the Dedicated Hosting Model, use the [list clouds](#operation/listCloudProfiles) operation to find a cloud profile in your preferred region\n\nUsing this cloud profile, you can now create a Redis™ cluster and test out some workflows!"
    },
    {
      "name": "ScaleGrid For MySQL®",
      "description": "This section covers MySQL-specific API calls. The [Clusters](#tag/Clusters) section covers database agnostic calls that can be used on MySQL clusters. [Create your own test environment to get started](https://console.scalegrid.io/users/register)\n\n\nBefore creating a cluster, you must find out the ID of the cloud profile(s) that'll be used to host your cluster. [Learn more about the different hosting strategies](https://scalegrid.io/blog/bring-your-own-cloud-byoc-vs-dedicated-hosting-at-scalegrid/)\n\n\n* If you are using the [BYOC model](https://help.scalegrid.io/docs/getting-started-bring-your-own-cloud-plans), make sure to create a cloud profile on the cloud platform of your choice by calling the specific API in the [clouds section](#tag/cloudprofiles). Retrieve the id for this cloud profile from the [list clouds](#operation/listCloudProfiles) call. \n\n* If you are using the Dedicated Hosting Model, use the [list clouds](#operation/listCloudProfiles) operation to find a cloud profile in your preferred region\n\nUsing this cloud profile, you can now create a cluster of your choice, and automate a few workflows.\n\n A popular workflow among our customers is cloning your production cluster for development/QA. You can [create a standalone clone](#operation/peekAtMySQLBackup) from an [existing backup](#operation/listMySQLBackups). Use [this](#operation/getMyCredentials) API to obtain credentials of your newly created cluster, and you are set to go! Once the test is completed, you can [destroy the deployment](#operation/deleteMySQLCluster)."
    },
    {
      "name": "ScaleGrid For PostgreSQL®",
      "description": "This section covers PostgreSQL-specific API calls. The [Clusters](#tag/Clusters) section covers database agnostic calls that can be used on PostgreSQL clusters. [Create your own test environment to get started](https://console.scalegrid.io/users/register)\n\n\nBefore creating a cluster, you must find out the ID of the cloud profile(s) that'll be used to host your cluster. [Learn more about the different hosting strategies](https://scalegrid.io/blog/bring-your-own-cloud-byoc-vs-dedicated-hosting-at-scalegrid/)\n\n\n* If you are using the [BYOC model](https://help.scalegrid.io/docs/getting-started-bring-your-own-cloud-plans), make sure to create a cloud profile on the cloud platform of your choice by calling the specific API in the [clouds section](#tag/cloudprofiles). Retrieve the id for this cloud profile from the [list clouds](#operation/listCloudProfiles) call. \n\n* If you are using the Dedicated Hosting Model, use the [list clouds](#operation/listCloudProfiles) operation to find a cloud profile in your preferred region\n\nUsing this cloud profile, you can now create a cluster of your choice, and automate a few workflows.\n\n A popular workflow among our customers is cloning your production cluster for development/QA. You can [create a standalone clone](#operation/pgpeekAtBackup) from an [existing backup](#operation/pglistBackups). Use [this](#operation/pggetCredentials) API to obtain credentials of your newly created cluster, and you are set to go! Once the test is completed, you can [destroy the deployment](#operation/pgDelete)."
    }
  ],
  "paths": {
    "/login": {
      "post": {
        "tags": [
          "General"
        ],
        "summary": "Login to a ScaleGrid account",
        "operationId": "login",
        "description": "Login to your ScaleGrid account. Login response contains cookies that need to be included in all subsequent calls.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "username": {
                    "type": "string",
                    "example": "<your-email-address>",
                    "description": "The email address for your account"
                  },
                  "password": {
                    "type": "string",
                    "example": "<your-password>",
                    "description": "The password for your account"
                  },
                  "inputCode": {
                    "type": "string",
                    "example": "<your-auth-code>",
                    "description": "Two Factor Authorization code if 2FA enabled"
                  }
                },
                "required": [
                  "username",
                  "password"
                ]
              }
            }
          }
        },
        "x-code-samples": [
          {
            "lang": "cURL",
            "source": "curl -k \\\n  https://console.scalegrid.io/login \\\n  -c cookiejar.txt \\\n  -d \"{'username':'<Enter email address here>','password':'<Enter password here>', 'inputCode': '<Enter 2FA code here>'}\""
          }
        ],
        "responses": {
          "200": {
            "description": "Successful",
            "headers": {
              "Set-Cookie": {
                "schema": {
                  "type": "string",
                  "description": "Cookies used to authenticate your API requests. You must specify all the cookies returned. If you are using cURL, please use `-c <filename>` when making the login and logout calls to save or remove the cookies to <filename>. Each subsequent call must use `-b <filename>` to send the cookies."
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/Error"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/logout": {
      "get": {
        "security": [
          {
            "cookieAuth": []
          }
        ],
        "tags": [
          "General"
        ],
        "summary": "Logout of a ScaleGrid account",
        "operationId": "logout",
        "description": "Logout of your ScaleGrid account to protect your data",
        "parameters": [
          {
            "in": "cookie",
            "name": "PLAY_SESSION",
            "schema": {
              "type": "string",
              "example": "SAMPLE-BLOB"
            },
            "required": true,
            "description": "Authentication cookie. Returned from the [login call](#operation/login)."
          }
        ],
        "x-code-samples": [
          {
            "lang": "cURL",
            "source": "curl -i \\\n  https://console.scalegrid.io/logout \\\n  -c cookiejar.txt \\\n  && rm cookiejar.txt"
          }
        ],
        "responses": {
          "302": {
            "description": "Found"
          }
        }
      }
    },
    "/actions/{your-action-ID}": {
      "get": {
        "security": [
          {
            "cookieAuth": []
          }
        ],
        "tags": [
          "General"
        ],
        "summary": "Check Job/Action status",
        "operationId": "getJobStatus",
        "description": "Check the status of an asynchronous operation. All asynchronous APIs return an unique actionID in their response, which must be used to monintor the job. \n\n Notes -\n * A job is complete when progress = 100 and status != Running. \n * A job is successful when status = Completed.\n\n",
        "parameters": [
          {
            "in": "cookie",
            "name": "PLAY_SESSION",
            "schema": {
              "type": "string",
              "example": "SAMPLE-BLOB"
            },
            "required": true,
            "description": "Authentication cookie. Returned from the [login call](#operation/login)."
          },
          {
            "in": "path",
            "name": "your-action-ID",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "ID of the job you wish to check. This is returned in the actionID field of the API call that starts a job"
          }
        ],
        "x-code-samples": [
          {
            "lang": "cURL",
            "source": "curl -i \\\n  -b cookiejar.txt \\\n  https://console.scalegrid.io/actions/<your-action-ID>"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string",
                      "example": "Restore Redis",
                      "description": "Name of the action being performed"
                    },
                    "object_name": {
                      "type": "string",
                      "description": "Name of the object on which the action is being performed"
                    },
                    "object_type": {
                      "type": "string",
                      "description": "Object type of the cluster. For example, MachinePool, MongoCluster, RedisCluster, MySQLCluster or PostgreSQLCluster"
                    },
                    "cancelled": {
                      "type": "boolean",
                      "example": false,
                      "description": "Indicates whether or not the action has been cancelled. A cancelled action is never completed"
                    },
                    "progress": {
                      "type": "integer",
                      "minimum": 0,
                      "maximum": 100,
                      "description": "Value from 0 to 100 indicating progress of the action. If progress is 100 and status is Completed, the action is been completed successfully"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "Running",
                        "Completed",
                        "Failed"
                      ],
                      "description": "Status of the action. When status in the response is 'Completed', it indicates the job completed successfully."
                    },
                    "run_by": {
                      "type": "string",
                      "description": "Email address of the user who began the action"
                    },
                    "error": {
                      "$ref": "#/components/schemas/Error"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Clouds/createMachinePoolForLinode": {
      "post": {
        "security": [
          {
            "cookieAuth": []
          }
        ],
        "tags": [
          "Cloud Profiles"
        ],
        "summary": "Create Linode Cloud Profile",
        "operationId": "createLinodeCloudProfile",
        "description": "Creates a Linode Cloud Profile. [Learn more about Linode Cloud Profiles](https://help.scalegrid.io/docs/setup-a-akamai-linode-cloud-profile)\n\nNote: This is an asynchronous operation. [Check the job's status](#operation/getJobStatus) using the actionID.",
        "parameters": [
          {
            "in": "cookie",
            "name": "PLAY_SESSION",
            "schema": {
              "type": "string",
              "example": "SAMPLE-BLOB"
            },
            "required": true,
            "description": "Authentication cookie. Returned from the [login call](#operation/login)."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "apiToken": {
                    "type": "string",
                    "example": "ABCDEF",
                    "description": "A personal access API token for your Akamai Linode account. You can follow [this guide](https://help.scalegrid.io/docs/getting-keys-for-your-linode-cloud-profile) to create one"
                  },
                  "name": {
                    "type": "string",
                    "example": "CloudProfile",
                    "description": "Unique name of cloud profile"
                  },
                  "region": {
                    "type": "string",
                    "example": "us-central",
                    "description": "Region in which to host your database machines"
                  },
                  "dbType": {
                    "type": "string",
                    "enum": [
                      "MONGODB",
                      "REDIS",
                      "MYSQL",
                      "POSTGRESQL"
                    ],
                    "description": "Database type that the cloud profile hosts"
                  },
                  "s3APIKey": {
                    "type": "string",
                    "example": "ABCDEF",
                    "description": "Access key for Object Storage bucket on your Akamai Linode Account. Please follow [this guide](https://help.scalegrid.io/docs/getting-keys-for-your-linode-cloud-profile) to enable Object Storage and generate your keys"
                  },
                  "s3SecretKey": {
                    "type": "string",
                    "example" : "ABCDEF",
                    "description": "Secret key for Object Storage bucket on your Akamai Linode Account. Please follow [this guide](https://help.scalegrid.io/docs/getting-keys-for-your-linode-cloud-profile) to enable Object Storage and generate your keys"
                  },
                  "s3BucketID" : {
                    "type": "string",
                    "example" : "my-bucket",
                    "description": "The bucket name for your Object Storage Bucket in your Akamai Linode Account."
                  },
                  "s3Url": {
                    "type": "string",
                    "example": "http://us-east-1.linodeobjects.com",
                    "description": "URL for Object Storage Bucket in your Akamai Linode Account."
                  },
                  "stackScriptID" :  {
                    "type": "integer",
                    "example": 123456,
                    "description" : "ID for the StackScript you must create on your Akamai Linode Account. Please [see here](https://help.scalegrid.io/docs/creating-and-retrieving-new-stackscript) for more instructions."
                  }
                },
                "required": [
                  "apiToken",
                  "dbType",
                  "region",
                  "name",
                  "s3APIKey",
                  "s3SecretKey",
                  "s3BucketID",
                  "stackScriptID"
                ]
              }
            }
          }
        },
        "x-code-samples": [
          {
            "lang": "cURL",
            "source": "curl -k \\\n https://console.scalegrid.io/Clouds/createMachinePoolForLinode \\\n -b cookiejar.txt \\\n -d \"{'apiToken':'<api-token>', 'dbType':'<db-type>','region':'<region>','name':'<unique-cloud-profile-name>','s3APIKey':'<object-storage-access-key>', 's3SecretKey':'<object-storage-secret-key>', 's3BucketID':'<object-storage-id>', 'stackScriptID': <stackscript-id>}'\""
          }
        ],
        "responses": {
          "200": {
            "description": "Successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "machinePoolID": {
                      "type": "integer",
                      "example": 1234,
                      "description": "ID of the new cloud profile. You will need this value when creating a database deployment. More information about your cloud profiles, including machinePoolIDs, can be retrieved through the [list cloud profiles](#operation/listCloudProfiles) call"
                    },
                    "actionID": {
                      "type": "integer",
                      "example": 123456,
                      "description": "ID to montior status of an action. Use with the [check job status](#operation/getJobStatus) API call"
                    },
                    "error": {
                      "$ref": "#/components/schemas/Error"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Clouds/createMachinePoolForEC2": {
      "post": {
        "security": [
          {
            "cookieAuth": []
          }
        ],
        "tags": [
          "Cloud Profiles"
        ],
        "summary": "Create AWS Cloud Profile",
        "operationId": "createAWSCloudProfile",
        "description": "Creates an AWS Cloud Profile. [Learn more about AWS Cloud Profiles](https://help.scalegrid.io/docs/cloud-profile-aws-ec2-setup)\n\nNote: This is an asynchronous operation. [Check the job's status](#operation/getJobStatus) using the actionID.",
        "parameters": [
          {
            "in": "cookie",
            "name": "PLAY_SESSION",
            "schema": {
              "type": "string",
              "example": "SAMPLE-BLOB"
            },
            "required": true,
            "description": "Authentication cookie. Returned from the [login call](#operation/login)."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "accessKey": {
                    "type": "string",
                    "example": "ABCDEF",
                    "description": "Access key for your AWS account. We recommend creating a dedicated IAM User with [the ScaleGrid policy](https://s3.amazonaws.com/scalegridpublic/policy/iam261.txt)"
                  },
                  "secretKey": {
                    "type": "string",
                    "example": "SAMPLE-BLOB",
                    "description": "Secret key for your AWS account"
                  },
                  "name": {
                    "type": "string",
                    "example": "CloudProfile",
                    "description": "Unique name of cloud profile"
                  },
                  "region": {
                    "type": "string",
                    "example": "useast1",
                    "description": "Region in which to host your database machines"
                  },
                  "dbType": {
                    "type": "string",
                    "enum": [
                      "MONGODB",
                      "REDIS",
                      "MYSQL",
                      "POSTGRESQL"
                    ],
                    "description": "Database type that the cloud profile hosts"
                  },
                  "deploymentStyle": {
                    "type": "string",
                    "enum": [
                      "VPC"
                    ],
                    "description": "Cloud deployment style"
                  },
                  "vpcID": {
                    "type": "string",
                    "example": "vpc-a123456",
                    "description": "AWS VPC ID"
                  },
                  "vpcSubnetID": {
                    "type": "string",
                    "example": "subnet-12345abc",
                    "description": "AWS VPC subnet ID"
                  },
                  "vpcCIDR": {
                    "type": "string",
                    "example": "172.31.0.0/16",
                    "description": "AWS VPC CIDR"
                  },
                  "vpcSubnetCIDR": {
                    "type": "string",
                    "example": "172.31.0.0/20",
                    "description": "AWS VPC Subnet CIDR"
                  },
                  "vpcSecurityGroupID": {
                    "type": "string",
                    "example": "test-1234abc",
                    "description": "AWS VPC security group ID"
                  },
                  "enableSSH": {
                    "type": "boolean",
                    "default": false,
                    "description": "Include to enable SSH access between your database VMs"
                  }
                },
                "required": [
                  "accessKey",
                  "secretKey",
                  "database",
                  "dbType",
                  "region",
                  "deploymentStyle",
                  "name",
                  "vpcID",
                  "vpcSubnetID",
                  "vpcCIDR",
                  "vpcSubnetCIDR",
                  "vpcSecurityGroupID"
                ]
              }
            }
          }
        },
        "x-code-samples": [
          {
            "lang": "cURL",
            "source": "curl -k \\\n https://console.scalegrid.io/Clouds/createMachinePoolForEC2 \\\n -b cookiejar.txt \\\n -d \"{'accessKey':'<access-key>','secretKey':'<secret-key>,'database':'<db-type>','region':'<region>','deploymentStyle':'<deployment-style>','connectivityConfig':'<connectivity-config>','name':'<unique-cloud-profile-name>','vpcID':'<vpc>','vpcSubnetID':'<subnet>','vpcCIDR':'<vpc-cidr>','vpcSubnetCIDR':'<vpc-subnet-cidr>','vpcSecurityGroupID':'<security-group-id>','vpcSecurityGroup':'<security-group-name>','dbType':'<db-type>','enableSSH':true|false}\""
          }
        ],
        "responses": {
          "200": {
            "description": "Successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "machinePoolID": {
                      "type": "integer",
                      "example": 1234,
                      "description": "ID of the new cloud profile. You will need this value when creating a database deployment. More information about your cloud profiles, including machinePoolIDs, can be retrieved through the [list cloud profiles](#operation/listCloudProfiles) call"
                    },
                    "actionID": {
                      "type": "integer",
                      "example": 123456,
                      "description": "ID to montior status of an action. Use with the [check job status](#operation/getJobStatus) API call"
                    },
                    "error": {
                      "$ref": "#/components/schemas/Error"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Clouds/generateScriptForAzureARMCloudProfile": {
      "post": {
        "security": [
          {
            "cookieAuth": []
          }
        ],
        "tags": [
          "Cloud Profiles"
        ],
        "summary": "Create Script for Azure ARM Cloud Profile",
        "operationId": "createScriptForARMCloudProfile",
        "description": "This API returns an Azure CLI or PowerShell Script to grant ScaleGrid the required permissions. On execution, this script creates a new ScaleGrid Resource Group and grants ScaleGrid permissions to it. Run this script before [creating an Azure ARM cloud profile](#operation/createARMCloudProfile). Be sure to use the same information is used in both API calls.\n\n[Learn more about Azure ARM Cloud Profiles](https://help.scalegrid.io/docs/cloud-profile-azure-arm-setup)\n\n[See what permissions ScaleGrid needs](https://help.scalegrid.io/docs/cloud-profile-azure-arm-setup#what-permissions-do-i-need-to-run-the-powershellazure-cli-script)",
        "parameters": [
          {
            "in": "cookie",
            "name": "PLAY_SESSION",
            "schema": {
              "type": "string",
              "example": "SAMPLE-BLOB"
            },
            "required": true,
            "description": "Authentication cookie. Returned from the [login call](#operation/login)."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "example": "CloudProfile",
                    "description": "Unique name of cloud profile"
                  },
                  "region": {
                    "type": "string",
                    "example": "useast1",
                    "description": "Region in which your database machines will be hosted"
                  },
                  "dbType": {
                    "type": "string",
                    "enum": [
                      "MONGODB",
                      "REDIS",
                      "MYSQL",
                      "POSTGRESQL"
                    ],
                    "description": "Database type that the cloud profile hosts"
                  },
                  "azureTennantId": {
                    "type": "string",
                    "nullable": true,
                    "description": "Azure tennant ID"
                  },
                  "securityGroupName": {
                    "type": "string",
                    "example": "nsg",
                    "description": "Azure network security group name"
                  },
                  "subscriptionID": {
                    "type": "string",
                    "example": "1a2b3c4d5e",
                    "description": "Azure subscription ID"
                  },
                  "vnetName": {
                    "type": "string",
                    "example": "vnet",
                    "description": "Azure vnet name"
                  },
                  "subnetName": {
                    "type": "string",
                    "example": "subnet",
                    "description": "Azure subnet name"
                  },
                  "isPublic": {
                    "type": "boolean",
                    "default": false,
                    "description": "If set to true, a static public IP will be created for every VM you create using this cloud profile."
                  },
                  "vnetResourceGroup": {
                    "type": "string",
                    "example": "westus2",
                    "description": " Azure vnet resource group name"
                  },
                  "resourceGroupName": {
                    "type": "string",
                    "example": "ScaleGrid-CloudProfile",
                    "description": "Azure resource group name"
                  },
                  "useSingleTennantSP": {
                    "type": "boolean",
                    "default": false,
                    "description": "Include to use single tennant service principal."
                  },
                  "enablePremiumStorage": {
                    "type": "boolean",
                    "default": false,
                    "description": "Include to enable premium storage for all VMs you create using this cloud profile."
                  }
                },
                "required": [
                  "name",
                  "region",
                  "subscriptionID",
                  "dbType",
                  "subnetName",
                  "vnetName",
                  "vnetResourceGroup",
                  "securityGroupName",
                  "resourceGroupName"
                ]
              }
            }
          }
        },
        "x-code-samples": [
          {
            "lang": "cURL",
            "source": "curl -k \\\n https://console.scalegrid.io/Clouds/createMachinePoolForAzureARM \\\n -b cookiejar.txt \\\n -d \"{'name':'<unique-cloud-profile-name>', 'region':'<region>', 'azureTennantId':null, 'subscriptionID':'<subscription-id>,'dbType':'<db-type>','subnetName':'<subnet>','isPublic':true|false,'vnetName':'<vnet>','vnetResourceGroup':'<resource-group>','securityGroupName':'<security-group>','resourceGroupName':'SCALEGRID-<name-of-cloud-profile>', 'enablePremiumStorage':false}\""
          }
        ],
        "responses": {
          "200": {
            "description": "Successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "bashPermissionsScript": {
                      "type": "string",
                      "description": "Script for Azure CLI users. Write value into a .sh script and run"
                    },
                    "permissionsScript": {
                      "type": "string",
                      "description": "Script for PowerShell users. Write value into a .ps1 script and run"
                    },
                    "error": {
                      "$ref": "#/components/schemas/Error"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Clouds/createMachinePoolForAzureARM": {
      "post": {
        "security": [
          {
            "cookieAuth": []
          }
        ],
        "tags": [
          "Cloud Profiles"
        ],
        "summary": "Create Azure ARM Cloud Profile",
        "operationId": "createARMCloudProfile",
        "description": "Creates an Azure ARM Cloud Profile. [Learn more about Azure ARM Cloud Profiles](https://help.scalegrid.io/docs/cloud-profile-azure-arm-setup)\n\n\nNote: This is an asynchronous operation. [Check the job's status](#operation/getJobStatus) using the actionID",
        "parameters": [
          {
            "in": "cookie",
            "name": "PLAY_SESSION",
            "schema": {
              "type": "string",
              "example": "SAMPLE-BLOB"
            },
            "required": true,
            "description": "Authentication cookie. Returned from the [login call](#operation/login)."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "example": "CloudProfile",
                    "description": "Unique name of cloud profile"
                  },
                  "region": {
                    "type": "string",
                    "example": "useast1",
                    "description": "Region in which your database machines will be hosted"
                  },
                  "dbType": {
                    "type": "string",
                    "enum": [
                      "MONGODB",
                      "REDIS",
                      "MYSQL",
                      "POSTGRESQL"
                    ],
                    "description": "Database type that the cloud profile hosts"
                  },
                  "securityGroupName": {
                    "type": "string",
                    "example": "nsg",
                    "description": "Azure network security group name"
                  },
                  "subscriptionID": {
                    "type": "string",
                    "example": "1a2b3c4d5e",
                    "description": "Azure subscription ID"
                  },
                  "vnetName": {
                    "type": "string",
                    "example": "vnet",
                    "description": "Azure vnet name"
                  },
                  "subnetName": {
                    "type": "string",
                    "example": "subnet",
                    "description": "Azure subnet name"
                  },
                  "isPublic": {
                    "type": "boolean",
                    "default": true,
                    "description": "If set to true, a static public IP will be created for every VM you create using this cloud profile."
                  },
                  "vnetResourceGroup": {
                    "type": "string",
                    "example": "westus2",
                    "description": " Azure vnet resource group name"
                  },
                  "resourceGroupName": {
                    "type": "string",
                    "example": "ScaleGrid-CloudProfile",
                    "description": "Azure resource group name"
                  },
                  "useSingleTennantSP": {
                    "type": "boolean",
                    "default": false,
                    "description": "Include to use single tennant service principal"
                  }
                },
                "required": [
                  "name",
                  "region",
                  "subscriptionID",
                  "dbType",
                  "subnetName",
                  "vnetName",
                  "vnetResourceGroup",
                  "securityGroupName",
                  "resourceGroupName"
                ]
              }
            }
          }
        },
        "x-code-samples": [
          {
            "lang": "cURL",
            "source": "curl -k \\\n https://console.scalegrid.io/Clouds/createMachinePoolForAzureARM \\\n -b cookiejar.txt \\\n -d \"{'name':'<unique-cloud-profile-name>', 'region':'<region>', 'subscriptionID':'<subscription-id>,'dbType':'<db-type>','subnetName':'<subnet>','isPublic':true|false,'vnetName':'<vnet>','vnetResourceGroup':'<resource-group>','securityGroupName':'<security-group>','resourceGroupName':'SCALEGRID-<name-of-cloud-profile>'}\""
          }
        ],
        "responses": {
          "200": {
            "description": "Successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "machinePoolID": {
                      "type": "integer",
                      "example": 1234,
                      "description": "ID of the new cloud profile. You will need this value when creating a database deployment. More information about your cloud profiles, including machinePoolIDs, can be retrieved through the [list cloud profiles](#operation/listCloudProfiles) call"
                    },
                    "actionID": {
                      "type": "integer",
                      "example": 123456,
                      "description": "ID to montior status of an action. Use with the [check job status](#operation/getJobStatus) API call"
                    },
                    "error": {
                      "$ref": "#/components/schemas/Error"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Clouds/generateScriptForGCPCloudProfile": {
      "post": {
        "security": [
          {
            "cookieAuth": []
          }
        ],
        "tags": [
          "Cloud Profiles"
        ],
        "summary": "Create script for GCP Cloud Profile",
        "operationId": "createScriptForGCP",
        "description": "This API returns a GCloud CLI Script to grant ScaleGrid the required permissions. Download the Bash Script to create a GCP Service Account and bind the custom ScaleGrid IAM policy. Be sure to use the same information is used in both API calls.\n\n[Learn more](https://help.scalegrid.io/docs/cloud-profile-gcp-setup)\n\n",
        "parameters": [
          {
            "in": "cookie",
            "name": "PLAY_SESSION",
            "schema": {
              "type": "string",
              "example": "PLAY_SESSION=SAMPLE-BLOB;"
            },
            "required": true,
            "description": "Authentication cookie. Returned from the [login call](#operation/login)."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "cloudProfileName": {
                    "type": "string",
                    "description": "Unique name of cloud profile you want to create"
                  },
                  "projectId": {
                    "type": "string",
                    "description": "Your Project ID"
                  },
                  "isBashScript": {
                    "type": "boolean",
                    "example": true,
                    "description": "Toggles between Bash script and a PowerShell Script (not currently supported)"
                  }
                },
                "required": [
                  "cloudProfileName",
                  "projectId",
                  "isBashScript"
                ]
              }
            }
          }
        },
        "x-code-samples": [
          {
            "lang": "cURL",
            "source": "curl -k \\\n  https://console.scalegrid.io/Clouds/createMachinePoolForGCP \\\n  -b cookiejar.txt \\\n -d '{\"cloudProfileName\":\"SampleGCPCloudProfile\",\"projectId\":\"<your-project-id>\", \"isBashScript\":true}'"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "gcpScript": {
                      "type": "string",
                      "description": "Script to execute. Write value into a .sh script and run"
                    },
                    "error": {
                      "$ref": "#/components/schemas/Error"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Clouds/createMachinePoolForGCP": {
      "post": {
        "security": [
          {
            "cookieAuth": []
          }
        ],
        "tags": [
          "Cloud Profiles"
        ],
        "summary": "Create GCP Cloud Profile",
        "operationId": "createMachinePoolForGCP",
        "description": "Use this asynchronous API to create a cloud profile if you want to deploy your database servers in your own Google Cloud Platform account. [Learn more](https://help.scalegrid.io/docs/cloud-profile-gcp-setup)\n\n\n\nThis API returns an actionID - use it to [check the job's status](#operation/getJobStatus). Once the job completes, you are ready to move on to creating your own clusters!",
        "parameters": [
          {
            "in": "cookie",
            "name": "PLAY_SESSION",
            "schema": {
              "type": "string",
              "example": "PLAY_SESSION=SAMPLE-BLOB;"
            },
            "required": true,
            "description": "Authentication cookie. Returned from the [login call](#operation/login)."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Unique name of cloud profile"
                  },
                  "dbType": {
                    "type": "string",
                    "enum": [
                      "MONGODB",
                      "REDIS",
                      "MYSQL",
                      "POSTGRESQL"
                    ],
                    "description": "Database type that the cloud profile hosts"
                  },
                  "network": {
                    "type": "string",
                    "example": "https://www.googleapis.com/compute/v1/projects/<your-project-id>/global/networks/default",
                    "description": "The network in which to deploy your database VMs"
                  },
                  "subnet": {
                    "type": "string",
                    "example": "https://www.googleapis.com/compute/v1/projects/<your-project-id>/regions/<region>/subnetworks/default",
                    "description": "The subnet in which to deploy your database VMs"
                  },
                  "isPublic": {
                    "type": "boolean",
                    "description": "Toggles whether a public IP is assigned or not when creating database VMs"
                  },
                  "usePremiumNetworkTier": {
                    "type": "boolean",
                    "description": "If true then PREMIUM network tier will be use for VM's network interface. Otherwise STANDARD tier will be used"
                  },
                  "cryptoKeysResourceId": {
                    "type": "string",
                    "description": "Use this optional parameter if you wish to encrypt your resources using a KMS key. The key must already exist. [Learn more](https://cloud.google.com/kms/docs).\n\nIf you wish to use OS-based LUKS encryption, or use unencrypted storage, you need not specify this parameter"
                  },
                  "serviceAccountJSONKey": {
                    "type": "string",
                    "example": "{  \"type\": \"service_account\",  \"project_id\": \"<your-project-id>\",  \"private_key_id\": \"<your-private_key-id>\",  \"private_key\": \"<PRIVATE KEY>\",  \"client_email\": \"<user>@<your-project-id>.iam.gserviceaccount.com\",  \"client_id\": \"<client-id>\",  \"auth_uri\": \"https://accounts.google.com/o/oauth2/auth\",  \"token_uri\": \"https://oauth2.googleapis.com/token\",  \"auth_provider_x509_cert_url\": \"https://www.googleapis.com/oauth2/v1/certs\",  \"client_x509_cert_url\": \"https://www.googleapis.com/robot/v1/metadata/x509/<user>%40<your-project-id>.iam.gserviceaccount.com\"}",
                    "description": "The service account key - used to communicate with your GCP deployment. Remember to escape the JSON you create on GCP. \n\n[Create a service account key](#operation/createScriptForGCP)\n\nSee what [permissions](https://help.scalegrid.io/docs/cloud-profile-gcp-setup#iam-policies-service-account--roles) ScaleGrid requires."
                  }
                },
                "required": [
                  "name",
                  "dbType",
                  "network",
                  "subnet",
                  "isPublic",
                  "usePremiumNetworkTier",
                  "serviceAccountJSONKey"
                ]
              }
            }
          }
        },
        "x-code-samples": [
          {
            "lang": "cURL",
            "source": "curl -k \\\n  https://console.scalegrid.io/Clouds/createMachinePoolForGCP \\\n  -b cookiejar.txt \\\n -d '{\"name\":\"SampleGCPCloudProfile\",\"dbType\":\"[MONGODB|REDIS|MYSQL|POSTGRESQL]\", \\\n \"network\":\"https://www.googleapis.com/compute/v1/projects/<your-project-id>/global/networks/default\", \\\n \"subnet\":\"https://www.googleapis.com/compute/v1/projects/<your-project-id>/regions/<region>/subnetworks/default\", \\\n \"isPublic\":true,\"usePremiumNetworkTier\":true, \"serviceAccountJSONKey\":\"<your-service-account-keys>'}"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "actionId": {
                      "type": "integer",
                      "description": "ID to montior status of an action. Use with the [check job status](#operation/getJobStatus) API call"
                    },
                    "machinePoolId": {
                      "type": "integer",
                      "description": "ID of the new cloud profile. You will need this value when creating a database deployment. More information about your cloud profiles, including machinePoolIDs, can be retrieved through the [list cloud profiles](#operation/listCloudProfiles) call"
                    },
                    "error": {
                      "$ref": "#/components/schemas/Error"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Clouds/list": {
      "get": {
        "security": [
          {
            "cookieAuth": []
          }
        ],
        "tags": [
          "Cloud Profiles"
        ],
        "summary": "List Cloud Profiles",
        "operationId": "listCloudProfiles",
        "description": "Returns an array of JSON objects describing all available cloud profiles. [Learn more about cloud profiles](https://help.scalegrid.io/docs/what-is-a-cloud-profile)\n\n\nUse this API to locate an appropriate cloud profile to deploy your cluster on.\n\n * If you are using the BYOC model, use the `providerMachinePoolName` attribute to locate your cloud profile by name\n * If you are using the Dedicated Hosting model,\n\n ** First filter the response by `type` (i.e. the cloud on which you wish to host your deployment) and `dbType` (the type of database you wish to deploy)\n ** Then use the `regionDesc` field to find a cloud profile in your desired region.\n\n",
        "parameters": [
          {
            "in": "cookie",
            "name": "PLAY_SESSION",
            "schema": {
              "type": "string",
              "example": "SAMPLE-BLOB"
            },
            "required": true,
            "description": "Authentication cookie. Returned from the [login call](#operation/login)."
          }
        ],
        "x-code-samples": [
          {
            "lang": "cURL",
            "source": "curl -i \\\n  https://console.scalegrid.io/clouds/list \\\n  -b cookiejar.txt"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "clouds": {
                      "type": "array",
                      "description": "Array of dictionaries. Dictionaries can describe an AWS, Azure ARM, DigitalOcean or GCP cloud profile",
                      "items": {
                        "anyOf": [
                          {
                            "type": "object",
                            "properties": {
                              "providerMachinePoolName": {
                                "type": "string",
                                "example": "CloudProfile",
                                "description": "Unique name of cloud profile"
                              },
                              "regionDesc": {
                                "type": "string",
                                "example": "US East (N. Virginia)",
                                "description": "Description of cloud profile region"
                              },
                              "region": {
                                "type": "string",
                                "example": "useast1",
                                "description": "Region in which your database machines will be hosted"
                              },
                              "id": {
                                "type": "integer",
                                "example": 1234,
                                "description": "Cloud profile ID"
                              },
                              "dbType": {
                                "type": "string",
                                "enum": [
                                  "MONGODB",
                                  "REDIS",
                                  "MYSQL",
                                  "POSTGRESQL"
                                ],
                                "description": "Database type that the cloud profile hosts"
                              },
                              "type": {
                                "type": "string",
                                "enum": [
                                  "EC2"
                                ],
                                "description": "Cloud platform account type"
                              },
                              "securityGroupName": {
                                "type": "string",
                                "example": "security-group-name",
                                "description": "Name of AWS cloud profile security group"
                              },
                              "vpcID": {
                                "type": "string",
                                "example": "vpc-a123456",
                                "description": "AWS VPC ID"
                              },
                              "vpcSubnetID": {
                                "type": "string",
                                "example": "subnet-12345abc",
                                "description": "AWS VPC subnet ID"
                              },
                              "vpcCIDR": {
                                "type": "string",
                                "example": "172.31.0.0/16",
                                "description": "AWS VPC CIDR"
                              },
                              "vpcSubnetCIDR": {
                                "type": "string",
                                "example": "172.31.0.0/20",
                                "description": "AWS VPC Subnet CIDR"
                              },
                              "vpcSecurityGroupID": {
                                "type": "string",
                                "example": "test-1234abc",
                                "description": "AWS VPC security group ID"
                              },
                              "created": {
                                "type": "string",
                                "example": "1563398290",
                                "description": "Date the cloud profile was created. Format: Unix timestamp. Time zone: UTC"
                              },
                              "owner": {
                                "type": "string",
                                "example": "support@scalegrid.io",
                                "description": "Creator of the cloud profile. 'support@mongodirector.com' if dedicated hosting cloud profile"
                              },
                              "status": {
                                "type": "string",
                                "enum": [
                                  "Running",
                                  "Creating",
                                  "Deleting",
                                  "Failed"
                                ],
                                "description": "Status of the cloud profile"
                              },
                              "shared": {
                                "type": "boolean",
                                "description": "Determines the hosting plan type. True for DEDICATED Hosting or false for BYOC (Bring Your Own Cloud)"
                              }
                            }
                          },
                          {
                            "type": "object",
                            "properties": {
                              "providerMachinePoolName": {
                                "type": "string",
                                "example": "CloudProfile",
                                "description": "Unique name of cloud profile"
                              },
                              "regionDesc": {
                                "type": "string",
                                "example": "US East (N. Virginia)",
                                "description": "Description of cloud profile region"
                              },
                              "region": {
                                "type": "string",
                                "example": "useast1",
                                "description": "Region in which your database machines will be hosted"
                              },
                              "id": {
                                "type": "integer",
                                "example": 1234,
                                "description": "Cloud profile ID"
                              },
                              "dbType": {
                                "type": "string",
                                "enum": [
                                  "MONGODB",
                                  "REDIS",
                                  "MYSQL",
                                  "POSTGRESQL"
                                ],
                                "description": "Database type that the cloud profile hosts"
                              },
                              "type": {
                                "type": "string",
                                "enum": [
                                  "AZUREARM"
                                ],
                                "description": "Cloud platform account type"
                              },
                              "securityGroupId": {
                                "type": "string",
                                "example": "/subscriptions/1a2b3c4d5e/resourceGroups/test/providers/Microsoft.Network/virtualNetworks/test",
                                "description": "Name of Azure cloud profile security group"
                              },
                              "subscriptionID": {
                                "type": "string",
                                "example": "1a2b3c4d5e",
                                "description": "Azure subscription ID"
                              },
                              "vnetId": {
                                "type": "string",
                                "example": "/subscriptions/1a2b3c4d5e/resourceGroups/test/providers/Microsoft.Network/virtualNetworks/test",
                                "description": "Azure vnet ID"
                              },
                              "created": {
                                "type": "string",
                                "example": "1563398290",
                                "description": "Date the cloud profile was created. Format: Unix timestamp. Time zone: UTC"
                              },
                              "owner": {
                                "type": "string",
                                "example": "support@scalegrid.io",
                                "description": "Creator of the cloud profile. 'support@mongodirector.com' if dedicated hosting cloud profile"
                              },
                              "status": {
                                "type": "string",
                                "enum": [
                                  "Running",
                                  "Creating",
                                  "Deleting",
                                  "Failed"
                                ],
                                "description": "Status of the cloud profile"
                              },
                              "shared": {
                                "type": "boolean",
                                "description": "Determines the hosting plan type. True for DEDICATED Hosting or false for BYOC (Bring Your Own Cloud)"
                              }
                            }
                          },
                          {
                            "type": "object",
                            "properties": {
                              "providerMachinePoolName": {
                                "type": "string",
                                "example": "CloudProfile",
                                "description": "Unique name of cloud profile"
                              },
                              "regionDesc": {
                                "type": "string",
                                "example": "US East (N. Virginia)",
                                "description": "Description of cloud profile region"
                              },
                              "region": {
                                "type": "string",
                                "example": "useast1",
                                "description": "Region in which your database machines will be hosted"
                              },
                              "id": {
                                "type": "integer",
                                "example": 1234,
                                "description": "Cloud profile ID"
                              },
                              "dbType": {
                                "type": "string",
                                "enum": [
                                  "MONGODB",
                                  "REDIS",
                                  "MYSQL",
                                  "POSTGRESQL"
                                ],
                                "description": "Database type that the cloud profile hosts"
                              },
                              "type": {
                                "type": "string",
                                "enum": [
                                  "DIGITALOCEAN"
                                ],
                                "description": "Cloud platform account type"
                              },
                              "created": {
                                "type": "string",
                                "example": "1563398290",
                                "description": "Date the cloud profile was created. Format: Unix timestamp. Time zone: UTC"
                              },
                              "owner": {
                                "type": "string",
                                "example": "support@scalegrid.io",
                                "description": "Creator of the cloud profile. 'support@mongodirector.com' if dedicated hosting cloud profile"
                              },
                              "status": {
                                "type": "string",
                                "enum": [
                                  "Running",
                                  "Creating",
                                  "Deleting",
                                  "Failed"
                                ],
                                "description": "Status of the cloud profile"
                              },
                              "shared": {
                                "type": "boolean",
                                "description": "Determines the hosting plan type. True for DEDICATED Hosting or false for BYOC (Bring Your Own Cloud)"
                              }
                            }
                          }
                        ]
                      }
                    },
                    "error": {
                      "$ref": "#/components/schemas/Error"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Clouds/updateEC2MachinePoolKeys": {
      "post": {
        "security": [
          {
            "cookieAuth": []
          }
        ],
        "tags": [
          "Cloud Profiles"
        ],
        "summary": "Update AWS Cloud Profile Keys",
        "operationId": "upadateCloudProfileKeys",
        "description": "Update your access and secret keys in an AWS cloud profile. \n\n[Learn more about cloud profiles](https://help.scalegrid.io/docs/what-is-a-cloud-profile)",
        "parameters": [
          {
            "in": "cookie",
            "name": "PLAY_SESSION",
            "schema": {
              "type": "string",
              "example": "SAMPLE-BLOB"
            },
            "required": true,
            "description": "Authentication cookie. Returned from the [login call](#operation/login)."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "machinePoolID": {
                    "type": "integer",
                    "example": 1234,
                    "description": "Machine pool ID of target cloud profile. Access machine pool IDs with the [list cloud profiles](#operation/listCloudProfiles) call"
                  },
                  "accessKey": {
                    "type": "string",
                    "example": "ABCDEF",
                    "description": "New access key for your AWS account"
                  },
                  "secretKey": {
                    "type": "string",
                    "example": "SAMPLE-BLOB",
                    "description": "New secret key for your AWS account"
                  }
                }
              }
            }
          }
        },
        "x-code-samples": [
          {
            "lang": "cURL",
            "source": "curl -k \\\n  https://console.scalegrid.io/Clouds/updateEC2MachinePoolKeys \\\n  -b cookiejar.txt \\\n -d \"{'machinePoolID': <machine-pool-id>, 'accessKey': '<access-key>', 'secretKey': '<secret-key>'}\""
          }
        ],
        "responses": {
          "200": {
            "description": "Successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/Error"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Clouds/{cloud-profile-id}": {
      "delete": {
        "security": [
          {
            "cookieAuth": []
          }
        ],
        "tags": [
          "Cloud Profiles"
        ],
        "summary": "Delete Cloud Profile",
        "operationId": "deleteCloudProfile",
        "description": "Delete an old cloud profile. You can not delete a cloud profile if it is currently in use (i.e. at least one Running VM was created using this cloud profile)\n\nNote: This is an asynchronous operation. [Check the job's status](#operation/getJobStatus) using the actionID",
        "parameters": [
          {
            "in": "cookie",
            "name": "PLAY_SESSION",
            "schema": {
              "type": "string",
              "example": "SAMPLE-BLOB"
            },
            "required": true,
            "description": "Authentication cookie. Returned from the [login call](#operation/login)."
          },
          {
            "in": "path",
            "name": "cloud-profile-id",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "ID of your cloud profile. Access cloud profile IDs with the [list cloud profile](#operation/listCloudProfiles) call"
          }
        ],
        "x-code-samples": [
          {
            "lang": "cURL",
            "source": "curl -k -X DELETE \\\n  https://console.scalegrid.io/Clouds/<your-cloud-profile-id> \\\n  -b cookiejar.txt -d \"\""
          }
        ],
        "responses": {
          "200": {
            "description": "Successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActionResp"
                }
              }
            }
          }
        }
      }
    },
    "/Clusters/pauseCluster": {
      "post": {
        "security": [
          {
            "cookieAuth": []
          }
        ],
        "tags": [
          "Clusters"
        ],
        "summary": "Pause Cluster",
        "operationId": "pauseCluster",
        "description": "This API can be used to shut down the underlying VMs in your ScaleGrid Deployment. This would save you the infrastructure charges for your database, while it is not in use. You can use the [resume operation](#operation/resumeCluster) to bring your cluster up again\n\n\nNote: This is an asynchronous operation. [Check the job's status](#operation/getJobStatus) using the actionID.\n\n\n<span style=\"color:red\">**WARNINGS**:</span> \n* This action is only supported for BYOC Deployments.\n* This operation will shut down your database deployment\n* ScaleGrid Management charges will apply on all paused clusters.",
        "parameters": [
          {
            "in": "cookie",
            "name": "PLAY_SESSION",
            "schema": {
              "type": "string",
              "example": "SAMPLE-BLOB"
            },
            "required": true,
            "description": "Authentication cookie. Returned from the [login call](#operation/login)."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "clusterID": {
                    "type": "integer",
                    "example": 1234,
                    "description": "The ID of the target cluster. Access cluster IDs with the list clusters call."
                  },
                  "dbType": {
                    "type": "string",
                    "enum": [
                      "MONGODB",
                      "REDIS",
                      "MYSQL",
                      "POSTGRESQL"
                    ],
                    "description": "Database type of the cluster to be patched"
                  }
                }
              }
            }
          }
        },
        "x-code-samples": [
          {
            "lang": "cURL",
            "source": "curl -k \\\n  https://console.scalegrid.io/clusters/pauseCluster \\\n  -b cookiejar.txt \\\n -d \"{'clusterID':<your-cluster-id>, 'dbType':'<db-type>'}\""
          }
        ],
        "responses": {
          "200": {
            "description": "Successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActionResp"
                }
              }
            }
          }
        }
      }
    },
    "/Clusters/resumeCluster": {
      "post": {
        "security": [
          {
            "cookieAuth": []
          }
        ],
        "tags": [
          "Clusters"
        ],
        "summary": "Resume Cluster",
        "operationId": "resumeCluster",
        "description": "Resume a paused cluster. This will bring up the underlying VMs, and then perform some health checks on the database to ensure consistency. Once your cluster is in Running state, you can start using it again!\n\n\nNote: This is an asynchronous operation. [Check the job's status](#operation/getJobStatus) using the actionID.",
        "parameters": [
          {
            "in": "cookie",
            "name": "PLAY_SESSION",
            "schema": {
              "type": "string",
              "example": "SAMPLE-BLOB"
            },
            "required": true,
            "description": "Authentication cookie. Returned from the [login call](#operation/login)."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "clusterID": {
                    "type": "integer",
                    "example": 1234,
                    "description": "The ID of the target cluster. Access cluster IDs with the list clusters call."
                  },
                  "dbType": {
                    "type": "string",
                    "enum": [
                      "MONGODB",
                      "REDIS",
                      "MYSQL",
                      "POSTGRESQL"
                    ],
                    "description": "Database type of the cluster to be patched"
                  }
                }
              }
            }
          }
        },
        "x-code-samples": [
          {
            "lang": "cURL",
            "source": "curl -k \\\n  https://console.scalegrid.io/clusters/resumeCluster \\\n  -b cookiejar.txt \\\n -d \"{'clusterID':<your-cluster-id>, 'dbType':'<db-type>'}\""
          }
        ],
        "responses": {
          "200": {
            "description": "Successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActionResp"
                }
              }
            }
          }
        }
      }
    },
    "/Clusters/{target-cluster-id}/createFollowerRelationship": {
      "post": {
        "security": [
          {
            "cookieAuth": []
          }
        ],
        "tags": [
          "Clusters"
        ],
        "summary": "Setup Follower Cluster",
        "operationId": "createFollowerCluster",
        "description": "Create a follower cluster that periodically syncs with another cluster. If a relationship already exists, you can use this API to change the import schedule.\n\n[Learn more about follower cluster use-cases!](https://scalegrid.io/blog/follower-clusters-3-major-use-cases-for-syncing-sql-and-nosql-deployments/)",
        "parameters": [
          {
            "in": "cookie",
            "name": "PLAY_SESSION",
            "schema": {
              "type": "string",
              "example": "SAMPLE-BLOB"
            },
            "required": true,
            "description": "Authentication cookie. Returned from the [login call](#operation/login)."
          },
          {
            "in": "path",
            "name": "target-cluster-id",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "ID of the follower cluster. Access cluster IDs with the list clusters call"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "sourceClusterID": {
                    "type": "integer",
                    "example": 1234,
                    "description": "ID of cluster that will be followed"
                  },
                  "dbType": {
                    "type": "string",
                    "enum": [
                      "MONGODB",
                      "MYSQL",
                      "POSTGRESQL"
                    ],
                    "description": "Database type of the target cluster"
                  },
                  "intervalInHours": {
                    "type": "integer",
                    "example": 24,
                    "description": "Time in hours between each follower sync"
                  },
                  "startTimeStr": {
                    "type": "string",
                    "example": "2018-09-17T09:00:00:000Z",
                    "description": "Start time of first sync. Format: ISO-8061"
                  }
                }
              }
            }
          }
        },
        "x-code-samples": [
          {
            "lang": "cURL",
            "source": "curl -k \\\n  https://console.scalegrid.io/clusters/{follower-cluster-id}/createFollowerRelationship \\\n  -b cookiejar.txt \\\n -d \"{'sourceClusterID':<source-cluster-id>, 'dbType':'<db-type>', 'intervalInHours':<number-of-hours>, 'startTimeStr': '<start-time>'}\""
          }
        ],
        "responses": {
          "200": {
            "description": "Successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/Error"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Clusters/{target-cluster-id}/syncFollowerClusterNow": {
      "post": {
        "security": [
          {
            "cookieAuth": []
          }
        ],
        "tags": [
          "Clusters"
        ],
        "summary": "On-Demand Sync of Follower Cluster",
        "operationId": "syncFollowerClusterNow",
        "description": "Syncs a follower cluster on-demand, from its source. This operation will overwrite all data on the target cluster with the latest backup from the source cluster.",
        "parameters": [
          {
            "in": "cookie",
            "name": "PLAY_SESSION",
            "schema": {
              "type": "string",
              "example": "SAMPLE-BLOB"
            },
            "required": true,
            "description": "Authentication cookie. Returned from the [login call](#operation/login)."
          },
          {
            "in": "path",
            "name": "target-cluster-id",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "ID of the follower cluster. Access cluster IDs with the list clusters call"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "dbType": {
                    "type": "string",
                    "enum": [
                      "MONGODB",
                      "MYSQL",
                      "POSTGRESQL"
                    ],
                    "description": "Database type of the target cluster"
                  }
                }
              }
            }
          }
        },
        "x-code-samples": [
          {
            "lang": "cURL",
            "source": "curl -k \\\n  https://console.scalegrid.io/clusters/{follower-cluster-id}/syncFollowerClusterNow \\\n  -b cookiejar.txt \\\n -d \"{'dbType':'<db-type>'}\""
          }
        ],
        "responses": {
          "200": {
            "description": "Successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/Error"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Clusters/{target-cluster-id}/getFollowerRelationshipInfo": {
      "post": {
        "security": [
          {
            "cookieAuth": []
          }
        ],
        "tags": [
          "Clusters"
        ],
        "summary": "Get Follower Status",
        "operationId": "getFollowerRelationshipInfo",
        "description": "Use this API to get the details of follower relationship of the target cluster.",
        "parameters": [
          {
            "in": "cookie",
            "name": "PLAY_SESSION",
            "schema": {
              "type": "string",
              "example": "SAMPLE-BLOB"
            },
            "required": true,
            "description": "Authentication cookie. Returned from the [login call](#operation/login)."
          },
          {
            "in": "path",
            "name": "target-cluster-id",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "ID of the follower cluster. Access cluster IDs with the list clusters call"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "dbType": {
                    "type": "string",
                    "enum": [
                      "MONGODB",
                      "MYSQL",
                      "POSTGRESQL"
                    ],
                    "description": "Database type of the target cluster"
                  }
                }
              }
            }
          }
        },
        "x-code-samples": [
          {
            "lang": "cURL",
            "source": "curl -k \\\n  https://console.scalegrid.io/clusters/{follower-cluster-id}/getFollowerRelationshipInfo \\\n  -b cookiejar.txt \\\n -d \"{'dbType':'<db-type>'}\""
          }
        ],
        "responses": {
          "200": {
            "description": "Successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "destinationCluster": {
                      "$ref": "#/components/schemas/Cluster"
                    },
                    "sourceCluster": {
                      "$ref": "#/components/schemas/Cluster"
                    },
                    "syncSchedule": {
                      "type": "object",
                      "description": "The schedule for the daily sync job",
                      "properties": {
                        "intervalInHours": {
                          "type": "integer",
                          "description": "Interval between syncs, in hours. Can be > 24hours if so desired"
                        },
                        "jobType": {
                          "type": "string",
                          "enum": [
                            "MongoSyncFollowerWithSourceCluster",
                            "MySQLSyncFollowerWithSourceCluster",
                            "PostgreSQLSyncFollowerWithSourceCluster"
                          ],
                          "description": "The type of operation that is scheduled"
                        },
                        "nextRuntime": {
                          "type": "integer",
                          "example": "1563398000",
                          "description": "Unix timestamp indicating when this operation will be next run. Format: Unix timestamp. Time zone: UTC"
                        }
                      }
                    },
                    "error": {
                      "$ref": "#/components/schemas/Error"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Clusters/{target-cluster-id}/breakFollowerRelationship": {
      "post": {
        "security": [
          {
            "cookieAuth": []
          }
        ],
        "tags": [
          "Clusters"
        ],
        "summary": "Stop Following",
        "operationId": "breakFollowerRelationship",
        "description": "Break the follower relationship - i.e. stop the scheduled sync operations.",
        "parameters": [
          {
            "in": "cookie",
            "name": "PLAY_SESSION",
            "schema": {
              "type": "string",
              "example": "SAMPLE-BLOB"
            },
            "required": true,
            "description": "Authentication cookie. Returned from the [login call](#operation/login)."
          },
          {
            "in": "path",
            "name": "target-cluster-id",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "ID of the follower cluster. Access cluster IDs with the list clusters call"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "dbType": {
                    "type": "string",
                    "enum": [
                      "MONGODB",
                      "MYSQL",
                      "POSTGRESQL"
                    ],
                    "description": "Database type of the target cluster"
                  }
                }
              }
            }
          }
        },
        "x-code-samples": [
          {
            "lang": "cURL",
            "source": "curl -k \\\n  https://console.scalegrid.io/clusters/{follower-cluster-id}/breakFollowerRelationship \\\n  -b cookiejar.txt \\\n -d \"{'dbType':'<db-type>'}\""
          }
        ],
        "responses": {
          "200": {
            "description": "Successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/Error"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Clusters/patchos": {
      "post": {
        "security": [
          {
            "cookieAuth": []
          }
        ],
        "tags": [
          "Clusters"
        ],
        "summary": "Patch OS",
        "operationId": "patchOS",
        "description": "<span style=\"color:red\">**WARNING**:</span> This action leads to a failover.\n\nPatch your OS with the most recent updates. [Check the job's status](#operation/getJobStatus) using the actionID",
        "parameters": [
          {
            "in": "cookie",
            "name": "PLAY_SESSION",
            "schema": {
              "type": "string",
              "example": "SAMPLE-BLOB"
            },
            "required": true,
            "description": "Authentication cookie. Returned from the [login call](#operation/login)."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "example": 1234,
                    "description": "The ID of the target cluster. Access cluster IDs with the list clusters call."
                  },
                  "dbType": {
                    "type": "string",
                    "enum": [
                      "MONGODB",
                      "REDIS",
                      "MYSQL",
                      "POSTGRESQL"
                    ],
                    "description": "Database type of the cluster to be patched"
                  },
                  "fullPatch": {
                    "type": "boolean",
                    "default": false,
                    "description": "If true, full patch will be executed"
                  },
                  "skipShardRouters": {
                    "type": "boolean",
                    "default": false,
                    "description": "If true, shard routers will be skipped in patch"
                  }
                }
              }
            }
          }
        },
        "x-code-samples": [
          {
            "lang": "cURL",
            "source": "curl -k \\\n  https://console.scalegrid.io/clusters/patchos \\\n  -b cookiejar.txt \\\n -d \"{'id':<your-cluster-id>, 'dbType':'<db-type>', 'fullPatch':true|false, 'skipShardRouters': true|false}\""
          }
        ],
        "responses": {
          "200": {
            "description": "Successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActionResp"
                }
              }
            }
          }
        }
      }
    },
    "/Clusters/setClusterLevelIPWhiteList": {
      "post": {
        "security": [
          {
            "cookieAuth": []
          }
        ],
        "tags": [
          "Clusters"
        ],
        "summary": "Set Firewall Rules",
        "operationId": "setFirewallRules",
        "description": "Set the list of IP CIDRs that must be added to the firewall rules of a particular cluster. The list can be viewed using the [get firewall rules](#operation/getFirewallRules) call\n\n[Learn more about firewall rules](https://help.scalegrid.io/docs/account-firewall-rules)\n\n <span style=\"color:red\">**WARNINGS**:</span> \n* This action overwrites the existing IP CIDRs in your firewall rules. So in this call you must specify **all** the IPs you want to whitelist\n* This operation does not apply the firewall rules. Once the rules are set, [configure firewall rules](#operation/configureFirewallRules) to apply the rules to your cluster\n ",
        "parameters": [
          {
            "in": "cookie",
            "name": "PLAY_SESSION",
            "schema": {
              "type": "string",
              "example": "SAMPLE-BLOB"
            },
            "required": true,
            "description": "Authentication cookie. Returned from the [login call](#operation/login)."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "clusterID": {
                    "type": "integer",
                    "example": 1234,
                    "description": "The ID of the target cluster. Access cluster IDs with the list clusters call"
                  },
                  "dbType": {
                    "type": "string",
                    "enum": [
                      "MONGODB",
                      "REDIS",
                      "MYSQL",
                      "POSTGRESQL"
                    ],
                    "description": "Database type of the target cluster"
                  },
                  "cidrList": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "example": [
                      "10.0.0.0/32",
                      "10.88.135.144/28",
                      "192.168.0.15/24"
                    ],
                    "description": "Only these IPs will be allowed access to the deployment. Mandatory if the specified cloud profiles are open to the Internet."
                  }
                }
              }
            }
          }
        },
        "x-code-samples": [
          {
            "lang": "cURL",
            "source": "curl -k \\\n  https://console.scalegrid.io/clusters/setClusterLevelIPWhiteList \\\n  -b cookiejar.txt \\\n -d \"{'clusterID':<your-cluster-id>, 'dbType':'<db-type>', 'cidrList':['<cidr1>', '<cidr2>', '<cidr3>']}\""
          }
        ],
        "responses": {
          "200": {
            "description": "Successful",
            "content": {}
          }
        }
      }
    },
    "/Clusters/configureIPWhiteList": {
      "post": {
        "security": [
          {
            "cookieAuth": []
          }
        ],
        "tags": [
          "Clusters"
        ],
        "summary": "Configure Firewall Rules",
        "operationId": "configureFirewallRules",
        "description": "Apply the current firewall rules on the cluster. The current rules can be viewed using the [get firewall rules](#operation/getFirewallRules) call, and edited using the [set firewall rules](#operation/setFirewallRules) call\n\n[Learn more about firewall rules](https://help.scalegrid.io/docs/account-firewall-rules)\n\nNote: This is an asynchronous operation. [Check the job's status](#operation/getJobStatus) using the actionID.",
        "parameters": [
          {
            "in": "cookie",
            "name": "PLAY_SESSION",
            "schema": {
              "type": "string",
              "example": "SAMPLE-BLOB"
            },
            "required": true,
            "description": "Authentication cookie. Returned from the [login call](#operation/login)."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "clusterID": {
                    "type": "integer",
                    "example": 1234,
                    "description": "The ID of the target cluster. Access cluster IDs with the list clusters call"
                  },
                  "dbType": {
                    "type": "string",
                    "enum": [
                      "MONGODB",
                      "REDIS",
                      "MYSQL",
                      "POSTGRESQL"
                    ],
                    "description": "Database type of the target cluster"
                  }
                }
              }
            }
          }
        },
        "x-code-samples": [
          {
            "lang": "cURL",
            "source": "curl -k \\\n  https://console.scalegrid.io/clusters/configureIPWhiteList \\\n  -b cookiejar.txt \\\n -d \"{'clusterID':<your-cluster-id>, 'dbType':'<db-type>'}\""
          }
        ],
        "responses": {
          "200": {
            "description": "Successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "actionID": {
                      "type": "integer",
                      "example": 123456,
                      "description": "ID to montior status of an action. Use with the [check job status](#operation/getJobStatus) API call"
                    },
                    "error": {
                      "$ref": "#/components/schemas/Error"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Clusters/getClusterLevelIPWhiteList": {
      "post": {
        "security": [
          {
            "cookieAuth": []
          }
        ],
        "tags": [
          "Clusters"
        ],
        "summary": "View Firewall Rules",
        "operationId": "getFirewallRules",
        "description": "View list of IP CIDRs added to the firewall rules of a particular cluster. Use [the set firewall rules API](#operation/setFirewallRules) to make changes to this list\n\n[Learn more about firewall rules](https://help.scalegrid.io/docs/account-firewall-rules)",
        "parameters": [
          {
            "in": "cookie",
            "name": "PLAY_SESSION",
            "schema": {
              "type": "string",
              "example": "SAMPLE-BLOB"
            },
            "required": true,
            "description": "Authentication cookie. Returned from the [login call](#operation/login)."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "clusterID": {
                    "type": "integer",
                    "example": 1234,
                    "description": "The ID of the target cluster. Access cluster IDs with the list clusters call"
                  },
                  "dbType": {
                    "type": "string",
                    "enum": [
                      "MONGODB",
                      "REDIS",
                      "MYSQL",
                      "POSTGRESQL"
                    ],
                    "description": "Database type of the target cluster"
                  }
                }
              }
            }
          }
        },
        "x-code-samples": [
          {
            "lang": "cURL",
            "source": "curl -k \\\n  https://console.scalegrid.io/clusters/getClusterLevelIPWhiteList \\\n  -b cookiejar.txt \\\n -d \"{'clusterID':<your-cluster-id>, 'dbType':'<db-type>'}\""
          }
        ],
        "responses": {
          "200": {
            "description": "Successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "cidrList": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": [
                        "10.0.0.0/32",
                        "10.88.135.144/28",
                        "192.168.0.15/24"
                      ],
                      "description": "Only these IPs will be allowed access to the deployment."
                    },
                    "error": {
                      "type": "string",
                      "nullable": true
                    },
                    "isIPWhitelistEnabled": {
                      "type": "boolean",
                      "example": true
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/AlertRules/create": {
      "post": {
        "security": [
          {
            "cookieAuth": []
          }
        ],
        "tags": [
          "Clusters"
        ],
        "summary": "Create Alert Rule",
        "operationId": "createAlertRule",
        "description": "Creates an alert rule. Returns a JSON object describing the alert rules for a particular cluster. [Learn more about alert rules](https://help.scalegrid.io/docs/redis-alerts-and-rules)",
        "parameters": [
          {
            "in": "cookie",
            "name": "PLAY_SESSION",
            "schema": {
[...]
